<div class="row">
    @for(item of cartService.getItems(); track item.id){
    <div class="col-sm-4 product">
        <div class="card">
            <img [src]="item.uploadPhoto" class="card-img-top" alt="{{item.name}}">
            <div class="card-body">
                <h4 class="card-title">{{item.name}}</h4>
                <p><span class="float-left me-3"><strong>MRP</strong>: <del class="text-danger">&#8377;{{item.mrp}}</del></span> <span class="float-right"><strong>DP</strong>:
                        <b class="text-success">
                            &#8377;{{item.dp}}
                        </b>
                    </span></p>
                <br>
                <p class="card-text product-desc">{{item.productDesc}}</p>
                <a class="btn btn-primary" (click)="order()">Order Now</a><br>
                <a class="btn btn-danger" (click)="deleteCart(item)">Delete</a>
            </div>
        </div>
    </div>
}
  </div>