<!-- <section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-bold">E-Commerce (B2B) Application in Angular 17</h1>
      <p class="lead text-body-secondary">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <a class="btn btn-primary my-2" routerLink="/seller/product">Product Section</a> &nbsp; &nbsp;
        <a class="btn btn-secondary my-2" routerLink="/sign-up">Register</a>
      </p>
    </div>
  </div>
</section> -->


<section>
  <div class="p-5" id="home">
    <div class="container text-center">
      <h1>E-Commerce (B2B) Application in Angular 17</h1>
    </div>
      <div class="home_text">
        <p class="collection">SUMMER COLLECTION</p>
                <h2>FALL - WINTER<br>Collection 2023</h2>
                <div class="home_label ">
                    <p>A specialist label creating luxury essentials. <br><br> Ethically crafted with an unwavering commitment to exceptional quality.</p>
                </div>
                <a class="btn btn-dark my-2" routerLink="/seller/product">SHOP NOW</a>
      </div>
  </div>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="https://i.postimg.cc/PrN2Y6Cv/f1.png" alt="">
    <h6>Free Shipping</h6>
  </div>
  
  <div class="fe-box">
    <img src="https://i.postimg.cc/qvycxW4q/f2.png" alt="">
    <h6>Online Order</h6>
  </div>
  
  <div class="fe-box">
    <img src="https://i.postimg.cc/1Rdphyz4/f3.png" alt="">
    <h6>Save Money</h6>
  </div>
  
  <div class="fe-box">
    <img src="https://i.postimg.cc/GpYc2JFZ/f4.png" alt="">
    <h6>Promotions</h6>
  </div>
  
  <div class="fe-box">
    <img src="https://i.postimg.cc/4yFCwmv6/f5.png" alt="">
    <h6>Happy Sell</h6>
  </div>
  
  <div class="fe-box">
    <img src="https://i.postimg.cc/gJN1knTC/f6.png" alt="">
    <h6>F24/7 Support</h6>
  </div>
  
</section>

<section id="product1" class="section-p1">
  <h2>Featured Products</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="https://i.postimg.cc/kg9YYbTn/f1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Astronault Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/2yhT2kvb/f2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Leave Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a href="/"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/VL9DtNm2/f3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Rose Multicolor Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/vZ3hPS1z/f4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Pink Flower Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/q7FLrhx6/f5.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Purple Flowering Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/L86BZByZ/f7.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Short Knicker </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/zDxJ2f0H/f6.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>2 in 1 Double Routed</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/x8qcBrpP/n6.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Ash Short</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

  </div>
</section>

<section id="banner" class="section-m1">
  <h4> Repair Service</h4>
  <h2>Up to <span>70% off </span> - All Tshirts and Accessories</h2>
  <button class="btn normal">Explore more</button>
</section>

<section id="product1" class="section-p1">
  <h2>New Arrivals</h2>
  <p>Summer Collection New Modern Design</p>
  <div class="pro-container">
    <div class="pro">
      <img src="https://i.postimg.cc/hG1hqqK6/n1.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Astronault Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/BZkSkvxt/n2.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Carton Leave Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/KYjcC3sk/n3.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Rose Multicolor Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/vHvQBtJx/n4.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Pink Flower Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/908J8S4q/n5.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Purple Flowering Tshirts</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/X7r8NsGQ/n7.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Short Knicker </h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/JhrH0hYM/n8.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>2 in 1 Double Routed</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

    <div class="pro">
      <img src="https://i.postimg.cc/2Sq4mytJ/f8.jpg" alt="">
      <div class="des">
        <span>adidas</span>
        <h5>Ash Short</h5>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <h4>&#8377;300</h4>
      </div>
      <a routerLink="/sign-up"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-cart3 cart" viewBox="0 0 25 25">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
      </svg></a>
    </div>

  </div>
</section>

<section id="newsletter" class="section-p1">
  <div class="newstext">
    <h4>Sign Up for Newsletters</h4>
    <p>Get Email updates about our latest shop and <span> special offers.</span> </p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your email address">
    <button class="btn normal">Sign Up</button>
  </div>

</section>